.container .title {
    align-content: center;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-width: 100%;
}

.jumbotron {
    border: 1px solid black;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: lightcyan;
    margin-top: 90px;
}

.title {
    text-align: center;
}

.card {
    border: 1px solid black;
    background-color: ghostwhite;
}

.card-body {
    text-align: center;
}

.card-footer {
    text-align: center;
}

.card-text {
    text-align: left;
}

.profile {
    max-width: 20%;
    margin-top: 10px;
    border-radius: 40%;
}

.contact {
    max-width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

.proj {
    max-width: 350px;
    margin: 3px;
    overflow: hidden;
    border: 1px solid gray;
  }

#tester {
    max-width: 100%;
}

#summary {
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.container:last-of-type {
    margin-bottom: 30px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .profile {
        height: 250px;
        border-radius: unset;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .profile {
        max-width: 100%;
        
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    .profile {
        height: 250px;       
        border-radius: unset;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}